<pre id="embed-code">&lt;!-- Sedra Widget --&gt;<br>
&lt;div class="sedra-campaign-widget"&gt;<br>
  &lt;sedra-widget campaignid=&quot;<span ng-bind="campaign_id"></span>&quot; themecolor=&quot;#<span ng-bind="campaignSettings.widget_settings.themecolor"></span>&quot;fontcolor=&quot;#<span ng-bind="campaignSettings.widget_settings.fontcolor"></span>&quot; fontfamily=&quot;<span ng-bind="campaignSettings.widget_settings.fontfamily"></span>&quot;&gt;
  &lt;/sedra-widget&gt;<br>
  &lt;script type=&quot;text/javascript&quot; src=&quot;<span ng-bind="widgetURL"></span>&quot;&gt;&lt;/script&gt;<br>
&lt;/div&gt;<br>
&lt;!-- End Sedra Widget --&gt;</pre><textarea id="selectable-code" readonly="readonly" rows="7"></textarea>